# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store


#P5X8Q~.6q8zJf_4n_hI~kCiAxK3zjALjCR.zycIU
#6cebd115-d6a5-4466-9016-8b73448324d9



# {
#     "clientSecret":  "P5X8Q~.6q8zJf_4n_hI~kCiAxK3zjALjCR.zycIU",
#     "subscriptionId":  "0ab858b3-0f1d-4f40-945b-457ec21c6d38",
#     "tenantId":  "f3710228-1bea-4962-ad4a-505755fba060",
#     "clientId":  "cd8c83b5-0179-4e46-9c26-dc19c716844b"
# }
# '{"clientSecret":"P5X8Q~.6q8zJf_4n_hI~kCiAxK3zjALjCR.zycIU","subscriptionId":"0ab858b3-0f1d-4f40-945b-457ec21c6d38","tenantId":"f3710228-1bea-4962-ad4a-505755fba060","clientId":"cd8c83b5-0179-4e46-9c26-dc19c716844b"}'